{
    "*.js": "prettier --write .",
    "*.ts": "prettier --write .",
    "*.tsx": "prettier --write .",
    "*.css": "prettier --write .",
    "*.json": "prettier --write .",
    ".prettierrc": "prettier --write ."
}